Nodered JSON.json
[
    {
        "id": "2f76ba572620725a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "951a4855cfa1cb29",
        "type": "mqtt in",
        "z": "2f76ba572620725a",
        "name": "ECG Data",
        "topic": "sensorData/ecg",
        "qos": "0",
        "datatype": "json",
        "broker": "eba40148ecd07e6b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 900,
        "y": 420,
        "wires": [
            [
                "094e1b7f603ba27b",
                "2bb88d0ed2f8f0dc",
                "0787e289da81ee9a"
            ]
        ]
    },
    {
        "id": "2bb88d0ed2f8f0dc",
        "type": "ui_chart",
        "z": "2f76ba572620725a",
        "name": "ECG Chart",
        "group": "1c66c2f3.68945d",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "ECG",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "nodata": "ECG graph",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 380,
        "wires": [
            [
                "98d71a2d1866a193"
            ]
        ]
    },
    {
        "id": "06462447d3c99dbe",
        "type": "mqtt in",
        "z": "2f76ba572620725a",
        "name": "BPM Data",
        "topic": "sensorData/bpm",
        "qos": "0",
        "datatype": "json",
        "broker": "eba40148ecd07e6b",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 900,
        "y": 160,
        "wires": [
            [
                "36fcf5e654e60f9c",
                "f849032571aa8fc5"
            ]
        ]
    },
    {
        "id": "36fcf5e654e60f9c",
        "type": "ui_gauge",
        "z": "2f76ba572620725a",
        "name": "BPM Gauge",
        "group": "1c66c2f3.68945d",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "BPM",
        "format": "{{value}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1170,
        "y": 160,
        "wires": []
    },
    {
        "id": "baa6c4871fd3868c",
        "type": "mqtt in",
        "z": "2f76ba572620725a",
        "name": "SpO2 Data",
        "topic": "sensorData/spo2",
        "qos": "0",
        "datatype": "json",
        "broker": "eba40148ecd07e6b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 900,
        "y": 300,
        "wires": [
            [
                "27274a6e453de85f",
                "c2367c3952d7b4c8"
            ]
        ]
    },
    {
        "id": "27274a6e453de85f",
        "type": "ui_gauge",
        "z": "2f76ba572620725a",
        "name": "SpO2 Gauge",
        "group": "1c66c2f3.68945d",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "SpO2",
        "format": "{{value}}%",
        "min": "0",
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1170,
        "y": 300,
        "wires": []
    },
    {
        "id": "b7db33bad5b04536",
        "type": "mqtt in",
        "z": "2f76ba572620725a",
        "name": "Lead Status",
        "topic": "sensorData/lead_off",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "eba40148ecd07e6b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 910,
        "y": 560,
        "wires": [
            [
                "b3bbfcd4435934c7",
                "de3dd681cd76ac30"
            ]
        ]
    },
    {
        "id": "b3bbfcd4435934c7",
        "type": "ui_text",
        "z": "2f76ba572620725a",
        "group": "1c66c2f3.68945d",
        "order": 3,
        "width": 8,
        "height": 3,
        "name": "Lead Status Display",
        "label": "Lead Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1200,
        "y": 560,
        "wires": []
    },
    {
        "id": "094e1b7f603ba27b",
        "type": "debug",
        "z": "2f76ba572620725a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 460,
        "wires": []
    },
    {
        "id": "0787e289da81ee9a",
        "type": "influxdb out",
        "z": "2f76ba572620725a",
        "influxdb": "01a698d92cc7ea4e",
        "name": "Send to InfluxDB",
        "measurement": "ecg",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "68ebf5bd92d1508b",
        "bucket": "ECG",
        "x": 1470,
        "y": 420,
        "wires": []
    },
    {
        "id": "98d71a2d1866a193",
        "type": "debug",
        "z": "2f76ba572620725a",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 380,
        "wires": []
    },
    {
        "id": "f849032571aa8fc5",
        "type": "function",
        "z": "2f76ba572620725a",
        "name": "Format BPM Data",
        "func": "// Prepare the payload for InfluxDB\nmsg.payload = [\n    {\n        measurement: \"bpm\",\n        fields: {\n            value: parseFloat(msg.payload) // Convert string to float\n        },\n        timestamp: Date.now() * 1000000 // Use current timestamp in nanoseconds\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 200,
        "wires": [
            [
                "52108081bf3c80ab"
            ]
        ]
    },
    {
        "id": "c2367c3952d7b4c8",
        "type": "function",
        "z": "2f76ba572620725a",
        "name": "Format SpO2 Data",
        "func": "// Prepare the payload for InfluxDB\nmsg.payload = [\n    {\n        measurement: \"spo2\",\n        fields: {\n            value: parseFloat(msg.payload) // Convert string to float\n        },\n        timestamp: Date.now() * 1000000 // Use current timestamp in nanoseconds\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 340,
        "wires": [
            [
                "cc0b6b258978c9d8"
            ]
        ]
    },
    {
        "id": "de3dd681cd76ac30",
        "type": "function",
        "z": "2f76ba572620725a",
        "name": "Format Lead Status Data",
        "func": "// Prepare the payload for InfluxDB\nmsg.payload = [\n    {\n        measurement: \"lead_status\",\n        fields: {\n            status: msg.payload // Use the lead status string\n        },\n        timestamp: Date.now() * 1000000 // Use current timestamp in nanoseconds\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 620,
        "wires": [
            [
                "74616e47684e1ac4"
            ]
        ]
    },
    {
        "id": "74616e47684e1ac4",
        "type": "influxdb out",
        "z": "2f76ba572620725a",
        "influxdb": "01a698d92cc7ea4e",
        "name": "Send to InfluxDB",
        "measurement": "lead",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "68ebf5bd92d1508b",
        "bucket": "ECG",
        "x": 1470,
        "y": 620,
        "wires": []
    },
    {
        "id": "52108081bf3c80ab",
        "type": "influxdb out",
        "z": "2f76ba572620725a",
        "influxdb": "01a698d92cc7ea4e",
        "name": "Send to InfluxDB",
        "measurement": "bpm",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "68ebf5bd92d1508b",
        "bucket": "ECG",
        "x": 1470,
        "y": 200,
        "wires": []
    },
    {
        "id": "cc0b6b258978c9d8",
        "type": "influxdb out",
        "z": "2f76ba572620725a",
        "influxdb": "01a698d92cc7ea4e",
        "name": "Send to InfluxDB",
        "measurement": "spo2",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "68ebf5bd92d1508b",
        "bucket": "ECG",
        "x": 1470,
        "y": 340,
        "wires": []
    },
    {
        "id": "bae69cb744df4ae2",
        "type": "ui_spacer",
        "z": "2f76ba572620725a",
        "name": "spacer",
        "group": "1c66c2f3.68945d",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "eba40148ecd07e6b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1c66c2f3.68945d",
        "type": "ui_group",
        "name": "Sensor Data",
        "tab": "bd33a5f2.7d4b28",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "01a698d92cc7ea4e",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB connection",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "bd33a5f2.7d4b28",
        "type": "ui_tab",
        "name": "Sensor Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]